body
{
    background-color: lightcyan;
}



#the-airthemetic-calculator
{
    border:5px solid cornflowerblue;
    margin:100px 50px 50px 100px;

    border-radius:30px;

    background-color:#fff;
    
}



/* HEADING-PART OF THE WEB PAGE */

.main-heading
{
    border-left: 5px solid #fc8210;

    padding-left:15px;


    margin-left:200px;
    margin-top:150px;
    margin-bottom:100px;

}



/* CALCULATOR PART OF THE WEB PAGE */

.display
{
    width:200px;

    margin-top:10px;

    border:none;
}

.button
{
    width:50px;
    height:50px;
    margin:5px;
    border:1.5px solid black;
    font-size:20px;
}

.cut
{
    width:100px;
}

.clearall
{
    width:130px;
}


.first-row
{
    width:250px;
    height:50px;

    border:1.5px solid black;
    border-radius :5px;
    text-align:center;
}


#calculator
{
    margin-top:120px;
    margin-bottom:100px;

    margin-right:280px;
    
    padding:15px 5px 15px 15px;

    border:3.5px solid black;

    border-radius:20px;
    background: #fff;

}






















/*MEDIA QUERY BREAKPOINTS */

@media only screen and (max-width:1700px)
{  
    /* MAIN HEADING OF THE WEB PAGE. */
    .main-heading
    {
        margin:0px;

        margin:150px;
    }


    /* CALCULATOR PART OF THE WEB PAGE */

    #calculator
    {
        margin:0px;
        margin-left:80px;
        margin-right:320px;

        margin-bottom:20px;
    }




    

}
